.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
gap: 15px;
max-width: 100vw;
max-height: 100vh;
min-width: 100vw;
min-height: 100vh;
background-image: url("https://cdn.culture.ru/images/a3b7b51d-ee46-5388-a3b4-8b1d9123177d");
background-size: cover;
text-align: left;
}
.image{
    justify-self: end;
    width: 250px;
    height: auto;
}
.full{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
}
.Texti{
    font-size: x-small;
    
    background: rgba(23,52,63, 0.85);
    color: aliceblue;
    border: 5px solid darkgreen;
    border-radius: 10px;
}
.cls{
    color: aliceblue;
    background-color: transparent;
    border-radius: 15px;
}

