.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;
text-align: left;
}
.image{
    
    width: 250px;
    height: auto;
}
.full{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
}